:root {
    --fuschia-100: rgba(239, 93, 168, 1);
    --fuschia-80: rgba(241, 120, 182, 1);
    --fuschia-60: rgba(252, 221, 236, 1);
    --iris-100: rgba(93, 95, 239, 1);
    --iris-80: rgba(120, 121, 241, 1);
    --iris-60: rgba(165, 166, 246, 1);
    --primary: rgba(31, 43, 108, 1);
    --secondary: rgba(21, 158, 236, 1);
    --white: rgba(252, 254, 254, 1);
    --accent: rgba(191, 210, 248, 1);
    --header-1-font-family: "WorkSans-Medium", Helvetica;
    --header-1-font-weight: 500;
    --header-1-font-size: 34px;
    --header-1-letter-spacing: -0.68px;
    --header-1-line-height: normal;
    --header-1-font-style: normal;
    --header-2-font-family: "WorkSans-Black", Helvetica;
    --header-2-font-weight: 900;
    --header-2-font-size: 20px;
    --header-2-letter-spacing: -0.4px;
    --header-2-line-height: normal;
    --header-2-font-style: normal;
    --body-font-family: "WorkSans-Regular", Helvetica;
    --body-font-weight: 400;
    --body-font-size: 16px;
    --body-letter-spacing: 0px;
    --body-line-height: 139.9999976158142%;
    --body-font-style: normal;
    --display-2-font-family: "YesevaOne-Regular", Helvetica;
    --display-2-font-weight: 400;
    --display-2-font-size: 32px;
    --display-2-letter-spacing: 0px;
    --display-2-line-height: normal;
    --display-2-font-style: normal;
    --caption-font-family: "WorkSans-Bold", Helvetica;
    --caption-font-weight: 700;
    --caption-font-size: 18px;
    --caption-letter-spacing: 2.88px;
    --caption-line-height: normal;
    --caption-font-style: normal;
    --display-1-font-family: "YesevaOne-Regular", Helvetica;
    --display-1-font-weight: 400;
    --display-1-font-size: 48px;
    --display-1-letter-spacing: 0px;
    --display-1-line-height: normal;
    --display-1-font-style: normal;
    --body-2-font-family: "WorkSans-Regular", Helvetica;
    --body-2-font-weight: 400;
    --body-2-font-size: 18px;
    --body-2-letter-spacing: 0px;
    --body-2-line-height: 139.9999976158142%;
    --body-2-font-style: normal;
    --small-font-family: "WorkSans-Regular", Helvetica;
    --small-font-weight: 400;
    --small-font-size: 14px;
    --small-letter-spacing: 0px;
    --small-line-height: normal;
    --small-font-style: normal;
  }
  